<%= form_with(model: resource, local: true) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
<% if @railway_station %>  
    <%= form.label :title %>
    <%= form.text_field :title, id: :resource_title %>
<% elsif @train %>
    <%= form.label :number %>
    <%= form.number_field :number, id: :train_number %>

    <%= form.label :сurrent_station, 'На станции' %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>

    <%= form.label :route, 'Маршрут' %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
<% elsif @route %>
    <%= form.text_field :name %>
    <%= form.label :railway_station_ids, "Список станций" %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true } %>
<% elsif @ticket %>
    <%= form.label :to_train, 'На поезд №' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>

    <%= form.label :for_user, 'Для пользователя:' %>
    <%= form.collection_select :user_id, User.order(:id), :id, :username %>

    <%= form.label :from_station, 'От станции:' %>
    <%= form.collection_select :first_station, RailwayStation.all, :title, :title %>

    <%= form.label :to_station, 'До станции:' %>
    <%= form.collection_select :last_station, RailwayStation.all, :title, :title %>

    <%= form.label :carrige_number, 'Вагон:' %>
    <%= form.number_field :carrige_number, id: :carrige_number %>

    <%= form.label :place_number, 'Место:' %>
    <%= form.number_field :place_number, id: :place_number %> 
<% end %>
</div>   

  <div class="actions">
    <%= form.submit "#{resource.new_record? ? 'Добавить' : 'Применить изменения'}"%>
  </div>
<% end %>
