<h2>Маршрут '<%=@route.name%>'</h2>

<% if @route.railway_stations.any? %>
<table>
  <thead>
    <tr>
      <td><strong>Станция</strong></td>
      <td style="padding-left: 20px; text-align: center;"><strong>Позиция в маршруте</strong></td>
    </tr>
  </thead>
  <tbody>
    <% @route.railway_stations.ordered.each do |station|%>
    <tr>
      <td><%= station.title %></td>
      <td>
        <%= form_tag update_position_railway_station_path(station), method: :patch do %>
        <%= number_field_tag :position, station.position_in(@route) %>
        <%= hidden_field_tag :route_id, @route.id %>
        <%= submit_tag 'Изменить' %>
      <% end %>         
      </td>
    </tr>
    <% end %>
  </tbody>    
</table>
<% else %>
  <p><strong>В данном маршруте нет станций</strong></p>
<% end %>

<p><%= link_to 'Редактировать', edit_route_path(@route) %></p>
<p><%= link_to 'Удалить', route_path(@route), method: :delete, data: {confirm: 'Удалить маршрут?'} %>
<br>
<p><%= link_to 'Все маршруты', routes_path %></p>

<h3>Поезда маршрута:</h3>
<%= render @route.trains %>