<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <%= render 'common_partials/header' %>

    <!-- Content -->
    <%= yield %>

    <!-- Footer --> 
    <%= render 'common_partials/footer' %>

  </body>
</html>
